<footer class="foot wrap">
    <hr/>
                <p>Please do <a href="https://github.com/oussemos/placidweb.com/issues">open issues</a> or
        <a href="https://github.com/oussemos/placidweb.com/pulls/">pull requests</a> for any errors you
        may find in the post and help me to improve it.</p>
    <p>
        Linux® is a registered trademark of Linus Trovalds.
        <br />Red Hat® is a registered trademark of Red Hat, inc.
    </p>
    <p>
    </p>
    <div class="buttons">
        <ul class="quick-links">
            <li class="follow-btn">
                <a href="https://twitter.com/oussemos" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @oussemos</a>
            </li>
            <li class="tweet-btn">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}" data-text="placidweb.com by @oussemos: {{ site.description }}" data-dnt="true">Tweet</a>
            </li>
        </ul>
    </div>
</footer>
