<footer class="foot wrap">
    <hr/>
    <a href="/credits">Credits</a>
    <a href="/issues">Issues & contributions</a>
    <div class="buttons">
        <ul class="quick-links">
            <li class="follow-btn">
                <a href="https://twitter.com/oussemos" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @oussemos</a>
            </li>
            <li class="tweet-btn">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}" data-text="placidweb.com by @oussemos: {{ site.description }}" data-dnt="true">Tweet</a>
            </li>
        </ul>
    </div>
</footer>
