<nav id="page-nav">
    <a href="#" id="to-top" class="toplink">↑</a>
</nav>
<header class="top">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <div class="wrap">
        <a href="/"><h1 itemprop="name">Placidweb.com</h1></a>
        <p class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">Linux, Red Hat certifications, technology, open source & tutorials 
            <br/>
            <a class="btn btn-default" href="/" role="button">Home</a>
            <a class="btn btn-default" href="#" role="button">Link</a>
        </p>
    </div>
</header>
